.f_container {
  display: flex;
  height: 50vh;
  justify-content: flex-end;
}

.photos {
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.f_item {
  margin: 12px;
  width: 380px;
  height: 240px;
  justify-content: flex-end;
}

.f_photo {
  display: flex;
  flex-direction: row;
}
